* {
  /*color: black !important;*/
}

.page-header {
  display: block;
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding: 2rem 5rem;
}

.page-header h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: 500;
  line-height: 1.2;
}

.page-header .project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 1.25rem;
}

.page-header h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
