.ws-table-all {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table;
  border:1px solid #ccc
}

.ws-table-all tr {
  border-bottom:1px solid #ddd
}

.xws-table-all tr:nth-child(odd) {
  background-color:#fff
}

.xws-table-all tr:nth-child(even){
  background-color:#E7E9EB
}

.ws-table-all td,
.ws-table-all th {
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top
}

.ws-table-all th:first-child, 
.ws-table-all td:first-child{
  padding-left:16px;
}

.ws-table-all tbody tr.tableTop {
  background-color: #E7E9EB;
}

.ws-table-all tbody tr.tableTop td {
  background-color: unset;
}

span.new {
  color: green;
  font-style: italic;
  font-size: .8em;
}